.filters {
  height: calc(100vh - 56px);
  background: #eee;
  box-sizing: border-box;
  padding: 16px;
  padding-top: 0;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.values {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-gap: 0 16px;
  align-items: end;
}

.checkboxCont {
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters h2 {
  margin: 0;
  padding: 0;
  margin-bottom: .5em;
}

.filters > div {
  padding-top: 0.75em;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 1em;
  margin-left: -16px;
  margin-right: -16px;
  border-top: 2px solid rgba(0,0,0,0.15);
}

.filters > div:first-child {
  margin-top: 0;
  border-top: 0;
}