.navbar {
  padding: 0 32px;  
  background: #3D5AFE;
}

.navbar button {
  background: none;
  border: 0;
  padding: 0 16px;
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.brand {
  align-items: center;
  margin-left: auto;
}

.name {
  font-weight: bold;
  font-size: 24px;
  justify-self: end;
  margin-left: auto;
  overflow: hidden;  
}

.name i {
  margin-right: .5em;
  transform: rotate(-45deg);
}
